/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* panel */ 
.panel {margin-top: 25px;}
.panel .panel-heading { padding: 5px 5px 0 5px;}
.panel .nav-tabs {border-bottom: none;}